fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
pydantic
pydantic-settings
python-dotenv

scikit-learn
pandas
numpy
joblib

alembic

email-validator